body {
  margin: 0;
  padding: 0;
  background-color: #424242; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

a {
  text-decoration: none;
  font-size: 16px; }

h1 {
  font-family: "futura-pt", serif;
  font-size: 3em;
  color: white;
  text-align: center;
  margin-top: 0;
  text-shadow: 4px 4px rgba(0, 0, 0, 0.27); }

h2, p {
  color: #424242; }

p {
  font-family: "abril-text", sans-serif;
  font-size: 16px; }

h2 {
  font-family: "futura-pt", serif; }

header {
  width: 100%;
  height: 180px;
  background-color: #E9633B;
  border-bottom: 4px solid #77ddae;
  -webkit-box-shadow: 0px 5px 5px 2px rgba(22, 22, 22, 0.75);
  -moz-box-shadow: 0px 5px 5px 2px rgba(22, 22, 22, 0.75);
  box-shadow: 0px 5px 5px 2px rgba(22, 22, 22, 0.75); }

nav ul {
  display: block; }
nav li {
  display: inline-block;
  padding: 14px; }
nav a {
  color: white;
  font-family: "futura-pt", serif;
  font-size: 24px;
  padding: 20px;
  letter-spacing: 2px; }

.homeTrucks {
  padding-top: 30px; }

.mainBody {
  max-width: 950px;
  background-color: #ECEAE0;
  border: 1px solid #ccc;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.27);
  display: block;
  margin: 0 auto;
  min-height: 1000px;
  padding: 0 10px 0 10px; }

.images {
  margin-left: 21px;
  margin-top: 18px;
  position: relative;
  display: none; }
  .images ul {
    display: block; }
  .images li {
    display: inline-block; }
  .images span {
    background-color: rgba(0, 0, 0, 0.4);
    bottom: 5px;
    display: none;
    line-height: 30px;
    position: absolute;
    overflow: hidden;
    width: 280px;
    padding: 20px 10px 20px 10px;
    color: #ECEAE0;
    font-family: "abril-text", sans-serif;
    font-size: 16px; }

button, .heuvos button, .rottiRolls button, .donuts button, .autobanh button {
  display: none;
  font-size: 1.7em;
  font-family: "futura-pt", serif;
  font-weight: bold;
  text-align: center;
  width: 200px;
  height: 200px;
  margin: auto;
  display: block; }

.heuvos button {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0, rgba(255, 255, 255, 0.88) 46%, rgba(255, 255, 255, 0.5) 100%, rgba(255, 255, 255, 0.8) 100%), url("../photos/thumbheuvosLogo.png");
  background-repeat: no-repeat;
  background-size: cover; }

.rottiRolls button {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0, rgba(255, 255, 255, 0.88) 46%, rgba(255, 255, 255, 0.5) 100%, rgba(255, 255, 255, 0.8) 100%), url("../photos/thumbrottiLogo.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

.donuts button {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0, rgba(255, 255, 255, 0.88) 46%, rgba(255, 255, 255, 0.5) 100%, rgba(255, 255, 255, 0.8) 100%), url("../photos/thumbdonutsLogo.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

.autobanh button {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0, rgba(255, 255, 255, 0.88) 46%, rgba(255, 255, 255, 0.5) 100%, rgba(255, 255, 255, 0.8) 100%), url("../photos/thumbbanh4.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

.active {
  display: block; }

article {
  display: none; }

.span {
  display: inline; }

.activeNav {
  background-color: #77ddae;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px; }

.hoverNav {
  background-color: #77ddae;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px; }
