body {
  margin: 0;
  padding: 0;
  background-color: #424242; }

.container {
  height: 2000px; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

a {
  text-decoration: none;
  font-size: 16px; }

h1 {
  font-family: "futura-pt", serif;
  font-size: 3em;
  color: white;
  text-align: center;
  margin-top: 0;
  text-shadow: 4px 4px rgba(0, 0, 0, 0.27); }

h2, p {
  color: #424242; }

p {
  font-family: "abril-text", sans-serif;
  font-size: 16px; }

h2 {
  font-family: "futura-pt", serif;
  font-size: 2em;
  text-transform: uppercase;
  text-align: left; }

.cover-photo-container {
  width: 100%;
  height: 1000px;
  background: linear-gradient(rgba(233, 99, 59, 0.2), #e9633b), url(../photos/foodTruckHeadImage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.sticky-header {
  width: 100%;
  height: 180px;
  background-color: #E9633B;
  border-bottom: 4px solid #77ddae;
  -webkit-box-shadow: 0px 5px 5px 2px rgba(22, 22, 22, 0.75);
  -moz-box-shadow: 0px 5px 5px 2px rgba(22, 22, 22, 0.75);
  box-shadow: 0px 5px 5px 2px rgba(22, 22, 22, 0.75); }

.fixed {
  position: fixed;
  top: 0px; }

.clear {
  clear: both; }

.homeTrucks {
  padding-top: 30px; }

nav ul {
  display: block; }
nav li {
  display: inline-block;
  padding: 14px; }
nav a {
  color: white;
  font-family: "futura-pt", serif;
  font-size: 24px;
  padding: 20px;
  letter-spacing: 2px; }

.mainBody {
  max-width: 950px;
  background-color: #ECEAE0;
  border: 1px solid #ccc;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.27);
  display: block;
  height: 1114px;
  margin: 0 auto;
  padding: 0 10px 0 10px; }

.images {
  margin-left: 21px;
  margin-top: 18px;
  position: relative;
  display: none; }
  .images ul {
    display: block; }
  .images li {
    display: inline-block; }
  .images span {
    background-color: rgba(0, 0, 0, 0.4);
    bottom: 5px;
    display: none;
    line-height: 30px;
    position: absolute;
    overflow: hidden;
    width: 280px;
    padding: 20px 10px 20px 10px;
    color: #ECEAE0;
    font-family: "abril-text", sans-serif;
    font-size: 16px; }

button, .heuvos button, .rottiRolls button, .donuts button, .autobanh button {
  display: none;
  font-size: 1.7em;
  font-family: "futura-pt", serif;
  font-weight: bold;
  text-align: center;
  width: 200px;
  height: 200px;
  margin: auto;
  display: block; }

.heuvos button {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0, rgba(255, 255, 255, 0.88) 46%, rgba(255, 255, 255, 0.5) 100%, rgba(255, 255, 255, 0.8) 100%), url("../photos/thumbheuvosLogo.png");
  background-repeat: no-repeat;
  background-size: cover; }

.rottiRolls button {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0, rgba(255, 255, 255, 0.88) 46%, rgba(255, 255, 255, 0.5) 100%, rgba(255, 255, 255, 0.8) 100%), url("../photos/thumbrottiLogo.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

.donuts button {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0, rgba(255, 255, 255, 0.88) 46%, rgba(255, 255, 255, 0.5) 100%, rgba(255, 255, 255, 0.8) 100%), url("../photos/thumbdonutsLogo.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

.autobanh button {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0, rgba(255, 255, 255, 0.88) 46%, rgba(255, 255, 255, 0.5) 100%, rgba(255, 255, 255, 0.8) 100%), url("../photos/thumbbanh4.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

.contact {
  text-align: center; }

form {
  width: 58%; }
  form .field {
    width: 100%;
    position: relative;
    margin-bottom: 15px; }

label {
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 0;
  background: #424242;
  width: 18%;
  padding: 18px 0;
  font-size: 1em;
  letter-spacing: 0.075em;
  color: white; }
  label + span {
    font-family: 'SSStandard';
    opacity: 0;
    color: white;
    display: block;
    position: absolute;
    top: 12px;
    left: 7%;
    font-size: 2.5em;
    text-shadow: 1px 2px 0 #77ddae;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out; }

input[type="text"], textarea {
  width: 90%;
  margin: 0;
  padding: 15px 0;
  padding-left: 19.5%;
  color: #424242;
  font-size: 1em;
  letter-spacing: 0.05em;
  text-transform: uppercase; }
  input[type="text"]#msg, textarea#msg {
    height: 18px;
    resize: none;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out; }

:focus, .focused {
  outline: none; }
  :focus#msg, .focused#msg {
    padding-bottom: 150px; }

input[type="submit"] {
  background: #E9633B;
  color: white;
  border: none;
  text-transform: uppercase;
  position: relative;
  padding: 13px 50px;
  font-size: 1em;
  letter-spacing: 0.1em;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  float: left; }
  input[type="submit"]:hover {
    background: #424242;
    color: white; }
  input[type="submit"]:focus {
    outline: none;
    background: #77ddae; }

.active {
  display: block; }

article {
  display: none; }

.hasScrolled {
  height: 180px; }

.span {
  display: inline; }

.activeNav {
  background-color: #77ddae;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px; }

.hoverNav {
  background-color: #77ddae;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease; }

.activeInput {
  border: 3px solid #77ddae; }
