
body {
  margin: 0;
  padding: 0;
  background-color: $bg-color;
}

.container {
  height: 2000px;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  font-size: 16px;

}

h1 {
  font-family: $header-font;
  font-size: 3em;
  color: white;
  text-align: center;
  margin-top: 0;
  text-shadow: 4px 4px rgba(0,0,0,.27);
}

h2, p {
  color: $secondary-font-color;
}

p {
  font-family: $p-font;
  font-size: 16px;
}

h2 {
  font-family: $header-font;
  font-size: 2em;
  text-transform:uppercase;
  text-align: left;

}



//HEADER//


.cover-photo-container {
  width:100%;
  height: 1000px;
  background: linear-gradient(rgba(233,99,59,0.2), rgba(233,99,59,1)), url(../photos/foodTruckHeadImage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.sticky-header {
  width: 100%;
  height: 180px;
  background-color: $header-color;
  border-bottom: 4px solid #77ddae;
  @include shadow (0px 5px 5px 2px rgba(22, 22, 22, 0.75));

}
.fixed{
  position: fixed;
  top: 0px;
}
.clear {
  clear:both;
}

.homeTrucks {
  padding-top: 30px;
}


  nav {
    ul{
      display: block;
    }
    li {
      display: inline-block;
      padding: 14px;
    }
      a {
        color: white;
        font-family: $header-font;
        font-size: 24px;
        padding: 20px;
        letter-spacing: 2px;
      }
    }


//MAIN//

.mainBody {
  max-width: 950px;
  background-color: #ECEAE0;
  border: 1px solid #ccc;
  box-shadow: 0px 5px 10px rgba(0,0,0,.27);
  display: block;
  height: 1114px;
  margin: 0 auto;
  padding: 0 10px 0 10px;

}

.images {
  margin-left: 21px;
  margin-top: 18px;
  position: relative;
  display: none;
  ul{
    display: block;
  }
  li {
    display: inline-block;
  }
  span{
    background-color: rgba(0, 0, 0, 0.4);
    bottom: 5px;
    display: none;
    line-height: 30px;
    position: absolute;
    overflow: hidden;
    width: 280px;
    padding: 20px 10px 20px 10px;
    color: $primary-font-color;
    font-family: $p-font;
    font-size: 16px;

  }
}



button {
  display: none;
  font-size: 1.7em;
  font-family: $header-font;
  font-weight: bold;
  text-align: center;
  width: 200px;
  height: 200px;
  margin: auto;
  display: block;


}

.heuvos {
  button{
    @extend button;
    background: linear-gradient(180deg, rgba(255,255,255,0.7) 0, rgba(255,255,255,0.88) 46%, rgba(255,255,255,0.5) 100%, rgba(255,255,255,0.8) 100%), url("../photos/thumbheuvosLogo.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.rottiRolls {
  button{
    @extend button;
    background: linear-gradient(180deg, rgba(255,255,255,0.7) 0, rgba(255,255,255,0.88) 46%, rgba(255,255,255,0.5) 100%, rgba(255,255,255,0.8) 100%), url("../photos/thumbrottiLogo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.donuts {
  button{
    @extend button;
    background: linear-gradient(180deg, rgba(255,255,255,0.7) 0, rgba(255,255,255,0.88) 46%, rgba(255,255,255,0.5) 100%, rgba(255,255,255,0.8) 100%), url("../photos/thumbdonutsLogo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.autobanh {
  button{
    @extend button;
    background: linear-gradient(180deg, rgba(255,255,255,0.7) 0, rgba(255,255,255,0.88) 46%, rgba(255,255,255,0.5) 100%, rgba(255,255,255,0.8) 100%), url("../photos/thumbbanh4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

//Contact Form//

.contact {
  text-align:center;

}

form {
  width: 58%;
  .field {
    width:100%;
    position:relative;
    margin-bottom:15px;
  }

}

label {
  text-transform: uppercase;
  position:absolute;
  top:0;
  left:0;
  background:$bg-color;
  width:18%;
  padding:18px 0;
  font-size: 1em;
  letter-spacing: 0.075em;
  color: white;
  + span {
    font-family: 'SSStandard';
    opacity: 0;
    color:white;
    display: block;
    position:absolute;
    top: 12px;
    left: 7%;
    font-size: 2.5em;
    text-shadow:1px 2px 0 $secondary-color;

    @include ease(1s);
  }
}

input[type="text"], textarea {
  width:90%;
  margin:0;
  padding:15px 0;
  padding-left:19.5%;
  color:$bg-color;
  font-size: 1em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  &#msg {
    height: 18px;
    resize: none;
    @include ease(1s);
    }
  }
  &:focus,
  &.focused {
    outline:none;
    &#msg {
      padding-bottom:150px;
    }
  }


// Submit Button
input[type="submit"] {
  background:$header-color;
  color:white;
  border: none;
  text-transform: uppercase;
  position:relative;
  padding: 13px 50px;
  font-size: 1em;
  letter-spacing: 0.1em;
  @include ease;
  float: left;
  &:hover {
    background:$bg-color;
    color:white;
  }
  &:focus {
    outline:none;
    background:$secondary-color;
  }
  h4 {
    font-family: $p-font;
    font-size: 16px;
  }
}





//JQUERY//

.active {
  display: block;
}

article {
  display:none;
}

.hasScrolled {
  height:180px;
}
.span {
  display: inline;
}
.activeNav {
    background-color: $secondary-color;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

.hoverNav {
  background-color: $secondary-color;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  @include transition (all 1s ease);

}

.activeInput {
  border: 3px solid $secondary-color;
}
