
body {
  margin: 0;
  padding: 0;
  background-color: $bg-color;
}

.container {
  height: 2000px;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  font-size: 16px;
}

h1 {
  font-family: $header-font;
  font-size: 3em;
  color: white;
  text-align: center;
  margin-top: 0;
  text-shadow: 4px 4px rgba(0,0,0,.27);
}

h2, p {
  color: $secondary-font-color;
}

p {
  font-family: $p-font;
  font-size: 16px;
}

h2 {
  font-family: $header-font;
}

//HEADER//


.cover-photo-container {
  width:100%;
  height: 1000px;
  background-color:red;
}


.sticky-header {
  width: 100%;
  height: 180px;
  background-color: $header-color;
  border-bottom: 4px solid #77ddae;
  @include shadow (0px 5px 5px 2px rgba(22, 22, 22, 0.75));

}
.fixed{
  position: fixed;
  top: 0px;
}
.clear {
  clear:both;
}

.homeTrucks {
  padding-top: 30px;
}


  nav {
    ul{
      display: block;
    }
    li {
      display: inline-block;
      padding: 14px;
    }
      a {
        color: white;
        font-family: $header-font;
        font-size: 24px;
        padding: 20px;
        letter-spacing: 2px;
      }
    }


//MAIN??

.mainBody {
  max-width: 950px;
  background-color: #ECEAE0;
  border: 1px solid #ccc;
  box-shadow: 0px 5px 10px rgba(0,0,0,.27);
  display: block;
  height: 1114px;
  margin: 0 auto;
  padding: 0 10px 0 10px;

}

.images {
  margin-left: 21px;
  margin-top: 18px;
  position: relative;
  display: none;
  ul{
    display: block;
  }
  li {
    display: inline-block;
  }
  span{
    background-color: rgba(0, 0, 0, 0.4);
    bottom: 5px;
    display: none;
    line-height: 30px;
    position: absolute;
    overflow: hidden;
    width: 280px;
    padding: 20px 10px 20px 10px;
    color: $primary-font-color;
    font-family: $p-font;
    font-size: 16px;

  }
}



button {
  display: none;
  font-size: 1.7em;
  font-family: $header-font;
  font-weight: bold;
  text-align: center;
  width: 200px;
  height: 200px;
  margin: auto;
  display: block;


}

.heuvos {
  button{
    @extend button;
    background: linear-gradient(180deg, rgba(255,255,255,0.7) 0, rgba(255,255,255,0.88) 46%, rgba(255,255,255,0.5) 100%, rgba(255,255,255,0.8) 100%), url("../photos/thumbheuvosLogo.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.rottiRolls {
  button{
    @extend button;
    background: linear-gradient(180deg, rgba(255,255,255,0.7) 0, rgba(255,255,255,0.88) 46%, rgba(255,255,255,0.5) 100%, rgba(255,255,255,0.8) 100%), url("../photos/thumbrottiLogo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.donuts {
  button{
    @extend button;
    background: linear-gradient(180deg, rgba(255,255,255,0.7) 0, rgba(255,255,255,0.88) 46%, rgba(255,255,255,0.5) 100%, rgba(255,255,255,0.8) 100%), url("../photos/thumbdonutsLogo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.autobanh {
  button{
    @extend button;
    background: linear-gradient(180deg, rgba(255,255,255,0.7) 0, rgba(255,255,255,0.88) 46%, rgba(255,255,255,0.5) 100%, rgba(255,255,255,0.8) 100%), url("../photos/thumbbanh4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}



//JQUERY//

.active {
  display: block;
}

article {
  display:none;
}

.hasScrolled {
  height:180px;
}
.span {
  display: inline;
}
.activeNav {
    background-color: $secondary-color;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;}

.hoverNav {
  background-color: $secondary-color;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
